<footer class="container" id="main-footer">
    <div class="row">
        <small class="footer-line">&#123;&#123; &copy; 2021 Проект &nbsp;"<a href="#" class="footer-link">Микроблог</a>". }}</small>
    </div>
</footer>