<div class="d-none d-xl-block col-xl-4 p-0">
    <section id="category">
        <div class="title__category">Категории блога:</div>
        <ul class="items__category">
        {{#each categories}}
           <li class="item__category">&gt; [ <a href="/{{ this.slug }}" class="link">{{ this.title }}</a> ]</li>
        {{/each}}
        </ul>
    </section>
</div>